/build/
/build.idea/
/dist/
/gradle/
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/private/
/.idea/
/.gradle/
*.class
/gwt-unit*/
/war/WEB-INF/classes/
/war/WEB-INF/deploy/
/war/WEB-INF/lib/
ThinkerApplication.war
/war/thinkerapplication/
*.gwt.rpc
*.cache.js
compilation-mappings.txt
